body{
	margin: 0;
 	/*font-family: 'Work Sans', sans-serif;*/
 	font-family: 'Quicksand', sans-serif;
 	/*font-family: 'Josefin Sans', sans-serif;*/
	font-size:20px;
	line-height: 30px;
	color: black;
	background-color: white;
	padding: 30px;

}

header{
	position: relative;
	background-color: black;
	text-align: center;
	height: 300px;
	text-shadow: 0 0 0px #fff, 0 0 0px #00b7ff, 0 0 0px #11d40000, 0 0 20px #2b2020, 0 0 50px #e60073, 0 0 60px #e6000000, 0 0 70px #000;
	
	
}

h1, h2{
	/*font-family: 'Squada One', cursive;*/
	/*font-family: 'Julius Sans One', sans-serif;*/
    font-family: 'Noto Sans JP', sans-serif;

}

h1{
	FONT-SIZE:40PX;
	font-weight: 1000px;

}

header h1{
	/*color: #5affd1;*/
	color: white;
	position: absolute;
  	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
  	/*text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #e6007300, 0 0 20px #dc4a4a, 0 0 50px #e60073, 0 0 60px #e6000000, 0 0 70px #600009;*/

}    

/*header h3{
	font-size: 20px;
	color: white;
	position: absolute;
  	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}*/


header img{
	border-radius: 150px; 
	width: 800px;
}

main{
	max-width: 800px;
	margin:0 auto;
	margin-color
	padding: 20px;
	background-color: white;

}

main img{
	max-width: 100%;
}

h2{
	font-size:30px;
	color: black;
	margin: 40px 0 10px;
	font-weight: 1000px;
	/*text-shadow: 5px 4px 1px #000000b0;*/ 
	/*text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #e6007300, 0 0 20px #dc4a4a00, 0 0 50px #e6007300, 0 0 60px #e6000000, 0 0 70px #600009;*/

}


#OML{
	position: relative;
	left: 0px;
	width:100px;
	height:100px;
	margin-right: 20px;
}

#OML:hover{
background-color: green;
}


#Week{
	position: relative;
	left: 0px;
/*	bottom: 80px;*/
	width:100px;
	height:100px;
	margin-right: 20px;
}

/*#E{
	position: relative;
	left: 0px;
	bottom: 110px;
}*/

#Diss{
	position: relative;
	left:-3px;
	bottom: 0px;
	width:100px;
	height:100px;
	margin-right:10px;
}

#ADR{
	position: relative;
	left: 0px;
	bottom: 0px;
	width:100px;
	height:100px;
	margin-right: 20px;
}

#TFI{
	position: relative;
	left: 0px;
	bottom: 0px;
	float: center;
	width:100px;
	height:100px;
	margin-right: 20px;
}

#t{
	font-size: 11px;
	position: relative;
	left: 10px;

}

a{
	color:black;
}

a:hover{
	

	background-color: black;
	

}

#f:hover{

background-color: black;
color: white;

}

footer{
	font-size: 20px;
	background-color: black;
	text-align: center;
	color: white; 
	padding: 40px;
	/*margin: 20px;*/
	text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #e6007300, 0 0 20px #dc4a4a, 0 0 50px #e60073, 0 0 60px #e6000000, 0 0 70px #600009;




}
footer p{
	margin: 20px;
}

#Linkedi{
	text-indent: -777px;
}

#Mail{
	text-indent: 300px;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .8;
	background-color: transparent;

}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
	text-shadow: 0;

}
